@import "../../sass/variables";

.card {
  width: $card-width;

  .card-img {
    width: 100%;
    height: auto;
  }
}

.placeholder {
  box-shadow: inset 0 0 10px black;
  border-radius: 10px;

  .card-img {
    opacity: 0;
  }
}
