@import "../../sass/variables";

#waste {
  display: flex;
  align-items: center;
  margin-left: $pile-padding * 2;
  position: relative;

  .card {
    position: absolute;
  }

  .card:first-child {
    left: 0;
  }

  .card:nth-child(2) {
    transform: translateX(35%);
  }

  .card:nth-child(3) {
    transform: translateX(70%);
  }
}
